<ion-header>
  <ion-toolbar>
    <ion-title>Yosino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/f.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>YOSHINO (DATE A LIVE)</p>
      <p>
        Sama seperti Kotori, Yoshino juga merupakan salah salah satu malaikat yang dilemahkan kekuatannya
        oleh Shido yang merupakan tokoh utama anime ini sekaligus raja harem anime tersebut. 
        Yoshino merupakan tipe loli yang agak pemalu dan pendiam, bahkan yang banyak bicara adalah
        boneka yang ada ditangannya.
      </p>
    </ion-row>

</ion-content>
