<ion-header>
  <ion-toolbar>
    <ion-title>telaga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
telaga warna merupakan salah satu tempat wisata andalan yang terletak di Dieng wonosobo, jawa tengah. Danau ini mempunyai nama Telaga warna  pun bukan tanpa sebab, yaitu karena telaga ini mempunyai warna yang bisa berubah ubah. Telaga ini kadang berwarna hijau, kuning dan pelangi. Hal tersebut karena telaga tersebut terdapat kandungan sulfur yang cukup banyak dan ketika tersorot sinar matahari maka warna air tersebut akan berubah warna.
</ion-content>
