<ion-header>
  <ion-toolbar>
    <ion-title>candi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Candi Terletak di Desa Dieng Kulon, Kecamatan Batur, Kabupaten Banjarnegara, Dataran Tinggi Dieng memiliki kawasan candi yang sangat luas. Diperkirakan, candi-candi yang terdapat di kawasan ini menempati area seluas 90 hektare. Hanya saja, baru sebagian kecil dari candi-candi tersebut sudah selesai direstorasi. Dari sekian banyak candi yang ada Dataran Tinggi Dieng, Kompleks Candi Arjuna merupakan yang terluas.
</ion-content>