<ion-header>
  <ion-toolbar>
    <ion-title>kawah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Kawah Sikidang Dieng Banjarnegara Jawa Tengah terletak di desa bakul, Kecamatan batur, Kabupaten banjarnegara, Provinsi jawa tengah.

  Tetapi jika anda masih bingung di mana lokasi atau letak Wisata Kawah Sikidang Dieng Banjarnegara Jawa Tengah saya sarankan anda mencari dengan mengetik Wisata Kawah Sikidang Dieng Banjarnegara Jawa Tengah di search google maps saja. Di Google maps sudah tertandai dimana lokasi yang anda cari tersebut.
</ion-content>
