<ion-header>
  <ion-toolbar>
    <ion-title>nakano</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/a.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>AZUSA NAKANO (K-ON)</p>
      <p>
        Kalian udah sangat akrab dengan loli yang satu ini. Loli yang kerap dipanggil Azu-nyan oleh
        teman seklubnya ini merupakan salah satu loli terbaik yang pernah ada. Bukan hanya karena
        wajahnya yang keneko-nekoan tapi juga tingkahnya yang secara tidak sadar sangat menggemaskan.
      </p>
    </ion-row>

</ion-content>
