<ion-header>
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/1.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p>
     Aplikasi ini dibuat untuk memudahkan para traveler untuk mencari wisata di daerah Banjarnegara-Wonosobo Jawa Tengah.
    </p>
</ion-content>
