<ion-header>
  <ion-toolbar>
    <ion-title>Blois</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/e.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>VICTORIQUE DE BLOIS (GOSICK)</p>
      <p>
        Well, sama seperti loli kebanyakan tapi ada satu hal yang berbeda dari loli yang satu ini.
        Pasalnya nih loli punya kebiasaan yang jarang dilakukan para loli umumnya. 
        Dia merupakan tipe loli yang agak pendiam, pintar, dan menghabiskan sebagian besar waktunya
        di perpustakaan yang ada di konservatium. tidak hanya itu, Victorique juga mempunyai bakat 
        sebagai detektif yang tinggi. Terlihat dari banyak kasus yang dia pecahkan bersama rekannya di anime.
      </p>
    </ion-row>

</ion-content>
