<ion-header>
  <ion-toolbar>
    <ion-title>Kotori</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/b.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>ITSUKA KOTORI (DATE A LIVE)</p>
      <p>
        Yo para oni-chan diluar sana, bersiaplah mimisan karena loli diatas imutnya bukan main. 
        Mulai dari wajahnya, posturnya, hingga tingkahnya sudah mencerminkan sifat Loli sejati.
        Bayangkan kamu dibangunin adek yang imutnya kebangetan dan mudah dikerjai pasti kamu berasa di surga bukan?
      </p>
    </ion-row>

</ion-content>
