<ion-header>
  <ion-toolbar>
    <ion-title>savana</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Padang Savana Dieng terletak di Kaki Gunung Pangonan merupakan obyek wisata mengagumkan dengan memamerkan ciri khas bentang alam Dieng Plateau. Padang Savana ini mampu memikat hati bagi setiap pelancong yang menghampirinya dikala sedang rindu akan ketenangan dengan memandangi indahnya ciptaan Tuhan. Perjalanan singkat menuju Padang Savana Dieng akan membawa Anda semakin jauh dari cengkraman keramaian kota. Lembah dengan rumput semak keemasan dan kehijauan setinggi lutut menghantarkan langkah Anda untuk menyibak alam di kawasan Padang Savana Dieng.
</ion-content>
