<ion-header>
  <ion-toolbar>
    <ion-title>Megumin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/c.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>MEGUMIN (KONOSUBA)</p>
      <p>
        Explosioon, itulah kata-kata unik yang sering dia keluarkan dari mulutnya yang kecil. 
        Tak dipungkiri memang kalau Megumincocok untuk masuk list loli terimut ini. 
        Bahkan Kazuma sang tokoh utama juga pernah menjuluki Megumin Lolicon.
        Sudah jelas memang dari postur hingga tingkahnya yang hampir 100% mirip anak-anak 
        membuat dia menyandang gelar salah satu "Loli Sejuta Umat".
      </p>
    </ion-row>

</ion-content>
