<ion-header>
  <ion-toolbar>
    <ion-title>Tina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
          <ion-col size="5">
          <div>
            <img src="/assets/d.jpg" alt="" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row class="ion-justify-content-center align-items-center style='height: 100%'">
      <p>SPROUT TINA (BLACK BULLET)</p>
      <p>
        Imut tapi berbahaya, dia salah satu initiator yang terbaik dengan menempati ranking 98 diantara kurang lebih 15000 yang terdaftar.
        Hal ini membuat dia memiliki aura membunuh yang sangat kentara, tapi semua itu dengan mudah diredam dengan senyum manisnya.
      </p>
    </ion-row>

</ion-content>
